<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>client_secret</key>
	<string>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</string>
	<key>client_id</key>
	<string>u-s4t2ud-e8e2d195ad4c1b8033b6111cf7655afb14e3274fb7e7d0c0799326c9204f9818</string>
</dict>
</plist>
